/*
Theme Name: APK theme
Description: This is a child theme for APK theme
Author: Xoi dev
Template: flatsome
Version: 2.0.5
Date: 2025-09-12
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}